*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #111;
}
header{
  position: fixed;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 1.2rem 10rem;
  z-index: 1000
  /* opacity: 0.5; */
}
.logo-div img{
  width: 7vw;
  height: 5vw;
  color: #fff;
  cursor: pointer;
}
.navbar ul {
  list-style: none;  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-left: 7rem;
}
.navbar ul li{
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}
.cta-div button{
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 20px;
  margin: 0.1rem;
}
.cta-div .btn1{
  color: #fff;
  background: rgba(80, 80, 80, 0.227);
  backdrop-filter: blur(6px);
}
.cta-div .btn2{
  color: #111;
  background-color: #fff;
}


.main1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  height: 180vh;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0) 30%,
      rgba(0,0,0,0.85) 80%,
      rgba(0,0,0,1) 100%
    ), url(MediaAssests/bg-dark.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 12rem;
}
.line-bar{
  width: 26vw;
  display: flex;
  justify-content: space-evenly;
  background: rgba(120, 120, 120, 0.315);
  padding: 4px;
  margin-top: -11.5rem;
  border-radius: 25px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}
.line-bar:hover{
  background: rgba(120, 120, 120, 0.156);
}
.line-bar-p1{
  padding: 0.1rem 0.5rem;
  background-color: rgb(2, 140, 2);
  border-radius: 20px;
  margin-left: -10px;
}
.line-bar-p2{
  margin-top: 2px;
}
.line-bar-div1 img{
  margin-top: 4px;
}
.main-h1{
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.5rem;
}
.main-p{
  margin-top: -20px;
  text-align: center;
  font-size: 1rem;
}
.mail-bar{
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  background: rgba(134, 134, 134, 0.315);
  padding: 0.25rem;
  border-radius: 25px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 4rem;
}
.mail-bar input{
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.01rem;
  color: #fff;
  font-weight: 500;
  margin-left: -28px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mail-bar button{
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 20px;
  margin-right: -40px;
}
.mail-bar button:hover{
  background: rgba(219, 219, 219, 0.981);
}
.heroImage{
  width: 70vw;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: #959595c4;
  border: 2px solid rgba(91, 91, 91, 0.351);
}
.heroImage img{
  height: 100%;
}
.main2{
  background-color: #000000;
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.main2 div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.main2 .compSvg{
  gap: 11rem;
}
.compSvg .svg1{
  margin-left: 2rem;
}
.main3{
  background: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main3 h3{
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1rem;
}
.main3-p-description{
  color: #b1b1b1;
  text-align: center;
  margin-bottom: 3rem;
}
.main3 .box-div{
  display: flex;
  gap: 2rem;
}
.box-divChild{
  border: 1px solid rgba(93, 93, 93, 0.244);
  border-radius: 1.2rem;
  width: 35vw;
  height: 73vh;
  padding: 2rem;
  background-image: url(MediaAssests/grid-bg-svg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
.box-divChild .box-div-p{
  color: rgb(12, 185, 64);
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.box-divChild .box-div-h5{
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.box-divChild .box-div-p2{
  color: #b1b1b1;
}
.animatedDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(93, 93, 93, 0.244);
  border-radius: 1.2rem;
}
.animatedDiv-p{
  color: rgb(12, 185, 64);
  font-size: 0.9rem; 
  font-weight: 500;
  margin-bottom: 1.2rem;
  width: 72vw;
}

