*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  background: #14120B;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 7vh;
  background: #14120B;
  position: fixed;
  z-index: 100;
}
header img{
  width: 6.3vw;
  height: 6.3vh;
  cursor: pointer;
  margin-left: -3.5rem;
}
header nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  color: #ffffff;
  font-size: 0.9rem;
  margin-left: 5rem;
}
header nav ul li{
  cursor: pointer;
}
header nav ul li:hover{
  color: #CCCCCC;
}
.auth-btn {
  margin-right: -2rem;
}
.auth-btn button{
  cursor: pointer;
}
.auth-btn .signIn-btn{
  padding: 0.3rem 0.6rem;
  background: transparent;
  color: #ffffff;
  border: 1px solid #4e4e4ec2;
  border-radius: 1rem;
  font-size: 0.9rem;
}
.auth-btn .download-btn{
  padding: 0.3rem 0.6rem;
  background: #fff;
  color: #000000;
  border-radius: 1rem;
  font-size: 0.9rem;
  margin-left: 0.4rem;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero{
  padding-top: 10rem;
  width: 87vw;
  height: 190vh;
}
.hero h3{
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.5rem;
}
.hero button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000000;
  border-radius: 2rem;
  font-size: 1rem;
  margin-bottom: 4rem;
}
.hero button img{
  margin-left: 4px;
  width: 1vw;
  height: 2vh;
}
.previewImage{
  width: 100%;
  height: 95vh;
  background-image: url(mediaAssest/bgImage1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}
.previewImage img{
  top: 2.5rem;
  left: 16rem;
  position: absolute;
  width: 78%;
  border-radius: 0.4rem;
}
.hero p{
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.hero .brand-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .brand-bar img{
  background: #1e1c16c5;
  width: 6vw;
  height: 6vh;
  box-shadow: 0 0 0 2rem #1e1c16c5;
  border-radius: 2px;
}
.learn-tut{
  display: flex;
  align-items: center;
  gap: 2.5rem;
  background: #1e1c16c5;
  padding: 1rem;
  border-radius: 6px;
  width: 87vw;
  height: 100vh;
  margin-bottom: 6rem;
}
.tut-text{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.tut-text h4{
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
.tut-text p{
  font-size: 1.3rem;
  font-weight: 500;
  color: #ccccccce;
  line-height: 1.9rem;
  margin-bottom: 1.5rem;
}
.tut-text span{
  color: #f54e00;
  font-size: 0.99rem;
  font-weight: 500;
  cursor: pointer;
}
.tut-text span:hover{
  color: #ca4000;
}
.tut-img{
  background: #49433B;
  width: 67%;
  height: 98%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tut-img img{
  width: 90%;
  height: auto;
  border-radius: 0.5rem;
}
.learn-tab .tut-img{
  background-image: url(mediaAssest/bgimage2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cursor-surface{
  gap: 5rem;
}
.cursor-surface .tut-img{
  background-image: url(mediaAssest/bgImage3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cursor-surface .tut-img img{
  position: absolute;
  width: 60%;
  height: auto;
}
.cursor-surface .tut-img .tut-img1{
  z-index: 2;
  bottom: 2rem;
  right: 2rem;
}
.cursor-surface .tut-img .tut-img2{
  z-index: 1;
  top: 2rem;
  left: 6rem;
}
.founders-feedbacks{
  width: 87vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.founders-feedbacks h1{
  font-size: 2.4rem;
  font-weight: 500;
  color: #dbdbdb;
  margin-top: -9rem;
  margin-bottom: 3rem;
}
.founders-feedbacks section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.founders-feedbacks section .founders-feedback{
  background: #1e1c16c5;
  padding: 1rem;
  border-radius: 0.3rem;
  height: 33vh;
}
.founders-feedback p{
  color: #dbdbdb;
  line-height: 1.5rem;
  height: 80%;
}
.founders-feedback div{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.founders-feedback div img{
  width: 2.5vw;
  height: auto;
  border-radius: 0.2rem;
}
.founders-feedback div p{
  padding: 0.1rem 0;
  margin: 0;   
  color: #fff;
  font-size: 0.85rem;
}
.founders-feedback div p span{
  color: #CCCCCC;
}
.explore{
  width: 87vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.explore-box{
  display: flex;
  gap: 0.7rem;
}
.explore h3{
  color: #CCCCCC;
  font-size: 1.7rem;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.explore-box div{
  background: #1e1c16c5;
  padding: 1.2rem;
  width: 28.5vw;
  height: 79vh;
  border-radius: 0.4rem;
}
.explore-box div strong{
  color: #CCCCCC;
  font-weight: 500;
}
.explore-box div p{
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  color: #868686;
  line-height: 1.4rem;
  font-weight: 500;
}
.explore-box div span{
  color: #f54e00;
  font-weight: 600;
  padding-bottom: 1rem;
  cursor: pointer;
}
.explore-box div span:hover{
  color: #ca4000;
}
.explore-box div img{
  margin-top: 2rem;
  width: 26vw;
  height: auto;
}
.updates{
   width: 87vw;
  height: 150vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 7rem;
}
.updates h3{
  color: #CCCCCC;
  font-size: 1.8rem;
  font-weight: 500;
}
.updates p{
  color: #f54e00;
  cursor: pointer;
}
.updates p:hover{
  color: #ca4000;
}
.changelog{
  display: flex;
  gap: 0.6rem;
}
.changelog .update{
  background: #1e1c16c5;
  width: 23vw;
  padding: 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-bottom: 1.6rem;
}
.update p{
  color: #909090c0;
  font-weight: 500;
  padding-bottom: 1rem;
}
.update p span{
  color: #909090c0;
  border: 1px solid #909090c0;
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
  margin-right: 0.8rem;
}
.update b{
  color: #CCCCCC;
  font-weight: 400;
  line-height: 1.2rem;
}
.reasearch{
  margin-top: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7rem;
  background: #1e1c16c5;
  padding: 1.5rem;
  border-radius: 0.3rem;
}
.reasearch div p{
  color: #e4e4e4;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.reasearch div p:hover{
  color: #e4e4e4;
}
.reasearch div span{
  color: #f54e00;
  cursor: pointer;
}
.reasearch div span:hover{
  color: #ca4000;
}
.reasearch img{
  width: 65%;
  height: auto;
}
.highlights{
  background: #1e1c16c5;
  width: 100%;
  height: 90vh;
  padding: 6rem;
}
.highlights section{
   display: flex;
   gap: 14rem;
}
.highlights strong{
  color: #CCCCCC;
  font-size: 1rem;
  font-weight: 500;
}
.highlight{
  background: #28261f6c;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;
}
.highlight:hover{
  background: #28261fc6;
}
.highlight b{
  color: #CCCCCC;
  font-weight: 600;
}
.highlight p{
  color: #7f7f7f;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1.7rem;
}
.highlight span{
  color: #7f7f7f;
  font-weight: 600;
}
.highlight-box h6{
  color: #f54e00;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
  cursor: pointer;
}
.highlight-box h6:hover{
  color: #ca4000;
}
.try-cursor{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.try-cursor h1{
  color: #CCCCCC;
  font-size: 4.5rem;
  font-weight: 500;
}
.try-cursor button{
  padding: 0.8rem 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
}
.try-cursor button img{
  width: 1vw;
}
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1e1c16c5;
  padding: 4rem;
}
footer .footer-lists{
  display: flex;
  justify-content: center;
  gap: 13rem;
}
.footer-lists .footer-list{
  list-style: none;
  color: #dddddd;
}
.footer-lists .footer-list li{
  cursor: pointer;
  margin-bottom: 0.7rem;
  font-size: 0.95rem;
}
.footer-list .footer-title{
  color: #7f7f7f;
}