*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  background: #14120B;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 7vh;
  background: #14120B;
  position: fixed;
  z-index: 100;
}
header img{
  width: 6.3vw;
  height: 6.3vh;
  cursor: pointer;
  margin-left: -3.5rem;
}
header nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  color: #ffffff;
  font-size: 0.9rem;
  margin-left: 5rem;
}
header nav ul li{
  cursor: pointer;
}
header nav ul li:hover{
  color: #CCCCCC;
}
.auth-btn {
  margin-right: -2rem;
}
.auth-btn button{
  cursor: pointer;
}
.auth-btn .signIn-btn{
  padding: 0.3rem 0.6rem;
  background: transparent;
  color: #ffffff;
  border: 1px solid #4e4e4ec2;
  border-radius: 1rem;
  font-size: 0.9rem;
}
.auth-btn .download-btn{
  padding: 0.3rem 0.6rem;
  background: #fff;
  color: #000000;
  border-radius: 1rem;
  font-size: 0.9rem;
  margin-left: 0.4rem;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero{
  padding-top: 10rem;
  width: 87vw;
  height: 190vh;
}
.hero h3{
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.5rem;
}
.hero button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000000;
  border-radius: 2rem;
  font-size: 1rem;
  margin-bottom: 4rem;
}
.hero button img{
  margin-left: 4px;
  width: 1vw;
  height: 2vh;
}
.previewImage{
  width: 100%;
  height: 95vh;
  background-image: url(mediaAssest/bgImage1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}
.previewImage img{
  top: 2.5rem;
  left: 16rem;
  position: absolute;
  width: 78%;
  border-radius: 0.4rem;
}
.hero p{
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.hero .brand-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero .brand-bar img{
  background: #1e1c16c5;
  width: 6vw;
  height: 6vh;
  box-shadow: 0 0 0 2rem #1e1c16c5;
  border-radius: 2px;
}